body, html{
margin:20px
}

header {
  background-color: red;
  position: relative;
  text-align: center;
  border: 5px dashed black;
}
h1, h2 {
    color: rgb(0, 0, 0);
    font-family: Georgia, "Times New Roman", Times, serif;
}
.first-box {
  border-bottom: 5px dashed black;
  border-left: 5px dashed black;
}
footer{
    background-color: rgb(102, 79, 79);
    position: relative;
    text-align: center;
    border: 2px solid black;
   
} 

input {
  border: 3px solid black;
  background-color: rgba(218, 216, 216, 0.959);
}
.info-box {
  position: relative;
  bottom: 50px;
  left: 15px;
}
.today-weather {
  position: relative;
  right: 20%;
  top: 99%;
}
.info-box,
.today-weather,
.first-box {
  background-color: yellow;
  color: black;

}

.input{
  display: block;
  height: 350px;
}
label {
  color: black;
  font-size: 20px;
}
#submit {
  position: relative;
  top: 10px;
  background-color: green;
  color: whitesmoke;
}

#main-weather {
  height: 400px;
  background-color: green;
  border-bottom: 5px dashed black;
}
.img-weather {
  /* position: relative;
  top: 50px;
  left: 40px; */
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
